// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-signin{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

h1, h3 {
  text-align: center;
}

#tabs {
  margin-left: 300px;
}